/*******************************************************************************
* Md Invoice System                                             *
*                                                                              *
* Version: 1.0                                                               *
* Author: Abhishek Raj                                   				   *
*******************************************************************************/

body {
  padding: 0;
  background-color: #00a65a;
}

.btn-primary {
  background-color: #9966cc;
  border-color: #9966cc;
}

.btn-primary:hover {
  background-color: #993399;
  border-color: #993399;
}

.btn-danger {
  background-color: #f44336;
  border-color: #f44336;
}

.btn-danger:hover {
  background-color: #f72a1b;
  border-color: #f72a1b;
}

.btn-success {
  background-color: #009966;
  border-color: #009966;
}

.panel-login {
  background-color: #ffffff !important;
  /*box-shadow: 5px 0px 77px #333;*/
}

.clear {
  clear: both;
}

.login-panel {
  box-shadow: 5px 0px 77px #333;
  margin-top: 150px;
}

.panel-body {
  padding: 30px 30px 15px 30px;
}

.panel-heading {
  padding: 15px 30px 15px 30px;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top {
  margin-top: 1em;
}

.padding-right {
  padding-right: 15px;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.user {
  margin-top: 8px;
  margin-right: 10px;
}

/* Forms */
input.shipping {
  text-align: right;
}
.custom_email_textarea {
  width: 100%;
  padding: 10px;
}
#invoice_status,
#invoice_type {
  margin-top: 23px;
}

.invoice_product_qty {
  width: 50px;
  text-align: center;
}
.invoice_type {
  text-transform: uppercase;
}

.select-customer {
  margin-top: 10px;
}

.delete-row {
  float: left;
  margin-top: 4px;
}

.item-select {
  float: left;
  margin: 4px;
}

.item-input {
  float: left;
  width: 65%;
  margin-left: 10px;
}

.textarea {
  width: 100%;
}

.textarea textarea {
  width: 100%;
  padding: 10px;
  resize: none;
}

/* Other styles */
strong.shipping {
  margin-top: 4px;
  display: block;
}

/* Progress bar */
.progress .bar {
  display: block;
  height: 20px;
}
.error-list {
  display: none;
}
.progress.progress-danger .bar {
  background-color: #c13333;
}
.progress.progress-warning .bar {
  background-color: #c1bf33;
}
.progress.progress-success .bar {
  background-color: #33c133;
}

.login-form {
  margin-top: 100px;
}
